<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CarPositionMapper">

    <resultMap type="CarPosition" id="CarPositionResult">
        <result property="carid"    column="carid"    />
        <result property="lat"    column="lat"    />
        <result property="lng"    column="lng"    />
        <result property="carnumid"    column="carnumid"    />
        <result property="cartime"    column="cartime"    />
    </resultMap>

    <sql id="selectCarPositionVo">
        select * from carposition
    </sql>

    <select id="selectCarPositionList" resultMap="CarPositionResult">
        <include refid="selectCarPositionVo"/>
    </select>

    <select id="selectCarNumIdPositionList" resultMap="CarPositionResult">
        <include refid="selectCarPositionVo"/>
        where carnumid = #{carnumid}
        ORDER BY cartime DESC
    </select>

    <insert id="insertcar" parameterType="CarPosition" useGeneratedKeys="false" keyProperty="carid">
        insert into carposition(lat,lng,carnumid,cartime)
        values (#{lat},#{lng},#{carnumid},#{cartime})
    </insert>
</mapper>